In [1]:
print("hello world")

hello world

In [5]:
print("My name is Sami.", "I am 22 years old")

My name is Sami. I am 22 years old

# Variables

In [7]:
# string
x="Tamim"
y="Sami"
print(x+y)

TamimSami

In [9]:
# integer
a=10
b=20
print(a+b)

30

In [19]:
# float
m=10.30
n=28.5
print(m+n)

# boolen
p=False

38.8

In [21]:
print(type(x))
print(type(a))
print(type(m))
print(type(p))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Keywords

Keywords, the built in function, we cann't use as a variable

and, else, in, return, as, except, is, True, assert, finally, lambda, try, break, False, noniocal, with, class, for, None, while, continue, from, not, yield, def, global, or, del, if, pass, elif, import, raise

In [23]:
a=100
b=200
dif=a-b
print(dif)

-100

# Operators

Operators

Arithmetic Operators : +, -, *, /, %, **
Relational/Comparison Operators : ==, !=, >, <, >=, <=.
Assignment Operators : =, +=, -=, *=, /=, %=, **=.
Logical Operators : not, and, or

In [25]:
#Arithmetic Operators
a=15
b=25
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) # reminder

40
-10
375
0.6
15

In [27]:
#Relational/Comparison Operators
a=50
b=25
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)
print(a<b)
print(a>b)

False
True
True
False
False
True

In [2]:
#Assignment Operators
num = 10
num=num+10
num += 10
print("num:",num)

num: 30

In [37]:
#Logical Operators
a=40
b=50
print((a==b)or(a<b))
print((a==b)and(a>b))

True
False

# Type Conversion

In [39]:
#Type Conversion
a=int("20")
b=4
print(a+b)
print(type(a))

24
<class 'int'>

In [62]:
x=float(20)
print(type(x))

<class 'float'>

# Input

In [41]:
#Input
input("enter your name:")

enter your name: Sami

'Sami'

In [64]:
name=input("enter: ")
print("Welcome",name)

enter:  sami

Welcome sami

In [45]:
#input built in as a str
var=input("enter:")
print(type(name))

enter: 10

<class 'str'>

In [47]:
var1=int(input("enter:"))
print(type(var1))

enter: 10

<class 'int'>

In [51]:
name=input("name:")
age=int(input("age:"))
cg=float(input("cg:"))

print(name)
print(age)
print(cg)

name: Sami
age: 22
cg: 0.0

Sami
22
0.0

Example: Print True if a is greater than or equal to b If not print False

In [55]:
a=int(input("number: "))
b=int(input("number: "))
print(a>=b)

number:  20
number:  12

True

Example 1:
Write a Program to input 2 numbers & print their sum.

In [7]:
num_1=int(input("Enter the name:"))
num_2=int(input("Enter the name:"))

sum=num_1+num_2
print(sum)

Enter the name: 19
Enter the name: 12

31

Example 2:
Write a Program to input side of a square & print its area.

In [11]:
side=int(input("Enter lenght:"))
area=side**2
print(area)

Enter lenght: 2

4

Example 3: Write a program to input two numbers (one integer and one float), and print their sum, difference, and product.

In [14]:
int_num = int(input("Enter an integer: "))
float_num = float(input("Enter a float number: "))

sum = int_num + float_num
difference = int_num - float_num
product = int_num * float_num

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)

Enter an integer:  12
Enter a float number:  12

Sum: 24.0
Difference: 0.0
Product: 144.0